<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>支付键盘的封装.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C52BC1121DF94B650086ADDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C52BC12E1DF94B650086ADDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C52BC1391DF94B650086ADDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
